
.flex-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .input-flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: var(--width);
    height: 100px;
    max-width: var(--maxWidth);
    position: relative;
    z-index: 0;
  }
  
  .input {
    width: var(--dotWidth);
    height: var(--dotWidth);
    background-color: var(--active);
    position: relative;
    border-radius: 50%;
  }
  .input:hover {
    cursor: pointer;
  }
  .input::before, .input::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    top: 50%;
    transform: translateY(-50%);
    background-color:var(--active);
    width: calc(var(--width) / var(--numdots));
    height: 5px;
    max-width: calc(var(--maxWidth) / var(--numdots));
  }
  .input::before {
    left: calc(calc(calc(var(--width) * -1) / var(--numdots)) + calc(var(--dotWidth) / 2));
  }
  .input::after {
    right: calc(calc(calc(var(--width) * -1) / var(--numdots)) + calc(var(--dotWidth) / 2));
  }
  .input.active {
    background-color: var(--active);
  }
  .input.active::before {
    background-color: var(--active);
  }
  .input.active::after {
    background-color: var(--inactive);
  }
  .input.active span {
    font-weight: 700;
  }
  .input.active span::before {
    font-size: 13px;
  }
  .input.active span::after {
    font-size: 20px;
  }
  .input.active ~ .input, .input.active ~ .input::before, .input.active ~ .input::after {
    background-color: var(--inactive);
  }
  .input span {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
  .input span::before, .input span::after {
    visibility: visible;
    position: absolute;
    left: 50%;
  }
  .input span::after {
    content: attr(data-year);
    top: 25px;
    transform: translateX(-50%);
    font-size: 14px;
    width: 200px;
    text-align: center;

  }
  .input span::before {
	  font-family: FontAwesome;
    content: "\f0d1";
	  color: rgb(173, 216, 230);
    top: -68px;
    width: 70px; 
    font-size: 48px !important;
	  transform: scale(-1, 1);
    text-indent: 43px;
  }
  
  .description-flex-container {
    width: 80vw;
    font-weight: 400;
    font-size: 22px;
    margin-top: 100px;
    max-width: var(--maxWidth);
  }
  .description-flex-container p {
    margin-top: 0;
    display: none;
  }
  .description-flex-container p.active {
    display: block;
  }

  
  @media (min-width: calc(var(--maxWidth) / var(--width))) {
    .input::before {
      left: calc(calc(calc(var(--maxWidth) / var(--numdots)) + 12.5px) * -1);
    }
  
    .input::after {
      right: calc(calc(calc(var(--maxWidth) / var(--numdots)) + 12.5px) * -1);
    }
  }
  @media (max-width: 850px) {
    .input {
      width: var(--dotWidthSm);
      height: var(--dotWidthSm);
    }
    .input::before, .input::after {
      height: 3px;
    }
    .input::before {
      left: calc(calc(calc(-1 * var(--width))/ var(--numdots)) + calc(var(--dotWidthSm) / 2));
    }
    .input::after {
      right: calc(calc(calc(-1 * var(--width)) / var(--numdots)) + calc(var(--dotWidthSm) / 2));
    }
  }
  @media (max-width: 600px) {
    .flex-parent {
      justify-content: initial;
    }
  
    .input-flex-container {
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      height: auto;
      margin-top: 15vh;
    }
  
    .input {
      width: 60px;
      height: 60px;
      margin: 0 10px 50px;
      background-color: var(--inactive);
    }
    .input::before, .input::after {
      content: none;
    }
    .input span {
      width: 100%;
      height: 100%;
      display: block;
    }
    .input span::before {
      top: calc(100% + 5px);
      transform: translateX(-50%);
      text-indent: 0;
      text-align: center;
    }
    .input span::after {
      top: 50%;
      transform: translate(-50%, -50%);
      color: #ECF0F1;
    }
  
    .description-flex-container {
      margin-top: 30px;
      text-align: center;
    }
  }
  @media (max-width: 400px) {
    body {
      min-height: 950px;
    }
  }
  